* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.structure {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
